td {
	font-size: 20px;
	border: 5px solid white;
	border-collapse: collapse;
}

th {
	font-size: 25px;
	border: 5px solid white;
	border-collapse: collapse;
}

table {
	border: 5px solid white;
	border-collapse: collapse;
	background-color: black;
	width: 50%;
}

h1 {
	font-size: 30px;
}
  
img {
	width: 200px;
}
body {
	font-family: arial;
	background: linear-gradient(to right, #5100FF, #003FF6, #48C9B0);
	color: white;	
}
