td, th {
	border: 1px solid;
}

table {
	border: 3px solid;
}
  
img {
	width: 30em;
	height: auto;
}
body {
	font-family: arial;
	background: linear-gradient(to right, #000000, #003FF6);
	color: white;
	text-align: center;
}
